body {
  font-family: 'Varela Round', sans-serif;
  background-color: #1A305B;
  color: #484341;
}

.bold {
  font-weight: bold;
}

header {
  font-size: 20px;
  text-align: center;
}

.light-border-bottom {
  border-bottom: 1px solid #BCC5D3;
}

.light-border-left {
  border-left: 1px solid #F8D8D9;
}

.padding-bottom {
  padding-bottom: 14px;
}

.app-container {
  background: #F0F0F0;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 380px;
  min-height: 300px;
  padding: 24px 0;
  position: relative;
  width: 80%;
}
.app-container:before, .app-container:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.app-container:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  -webkit-transform: rotate(-2.5deg);
}
.app-container:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  -webkit-transform: rotate(1.4deg);
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-list-item {
}

.dot {
  margin-right: 15px;
  margin-left: 20px;
  margin-bottom: 13px;
  box-shadow: 0px 0px 1px 1px #ababab;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e0e0e0) );
  background-color:#ffffff;
  border-top-left-radius:16px;
  border-top-right-radius:16px;
  border-bottom-right-radius:16px;
  border-bottom-left-radius:16px;
  display:inline-block;
  height:24px;
  width:24px;
}

.dot:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
}

.done > .dot {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11f205), color-stop(1, #1b850a) );
  background-color:#11f205;
  border:4px solid #ffffff;
  height:16px;
  width:16px;
}

.text {
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.done > .text {
  text-decoration:line-through;
  color: #bbb;
}

.todo-list-item:hover .delete:before {
  font-size: 32px;
  color: #c00;
  content:"\00D7";
  margin-top: 10px;
  position: absolute;
  right: 10px;
}

.todo-list-item .delete:hover:before {
  color: #f00;
}

.margin-left-column {
  margin-left: 63px;
}

input[type=text]
{
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  padding: 10px 0 10px 15px;
  width: 95%;
  color: #ccc;
  border: 0;
  background-color: transparent; 
}

input[type=text]:focus
{
  outline: none;
  background-color: #fff;
  color: #666;
}

